* {
  font-family: 'Lato', sans-serif;
}

#app {
  display: flex;
  align-items: center;
  height: 95vh;
}

.text {
  font-size: 6vw;
  font-weight: 300;
}

#quotes {
  font-weight: 900;
}

#images {
  height: 15vw;
  width: 15vw;
}

.paragraph {
  margin: 0 1rem;
}

@media (max-width: 550px) {
  .text {
    font-size: 8vw;
  }
}
