* {
  font-family: 'Lato', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.paragraph {
  font-size: 6vw;
  font-weight: 300;
  margin: 0 0 0 1rem;
}

#ser,
#soy {
  font-weight: 900;
}

#images {
  height: 20vw;
  width: 20vw;
  margin: 1rem;
}

@media (max-width: 980px) {
  .paragraph {
    font-size: 10vw;
  }

  #images {
    height: 45vw;
    width: 45vw;
  }
}
